$color1 : #13262F;
$color2 : #583e23;
$color3 : #73683b;
$color4 : #547b8c;
$color5 : #cad6dc;
$color6 : #20232A;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $color1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color5;
}

.App-link, a {
  color: $color3;
}